@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Opcional: puedes borrar la siguiente línea,
     ya que next/font la sobreescribirá */
  font-family: Arial, Helvetica, sans-serif;
}